@font-face {
  font-family: YorkGame-Regular;
  src: url('/font/YorkGame-Regular.otf');
}

@import "tailwindcss";

:root {
  --background: #fbfaf9;
  --foreground: #171717;
  --primary: #1C1456;
  --purple: #c7b3ff;
  --sky: #b3e6ff;
  --peach: #ffb3b3;
  --yellow: #ffffb3;
  --font-merienda: "Merienda", cursive;

  --text-sm: 0.833vw;
    --text-base: 1vw;
    --text-lg: 1.25vw;
    --text-xl: 1.676vw;
    --text-2xl: 5.77vw;
     --text-3xl: 6.18vw;
     --text-4xl: 7.3vw;
     --text-5xl: 5.2rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-purple-300: var(--purple);
  --color-yellow-300: var(--yellow);
  --color-peach-300: var(--peach);
  --color-sky-300: var(--sky);

  --font-yorkgame: YorkGame-Regular, sans-serif;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-merienda: var(--font-merienda);
  --font-geist-sans: var(--font-geist-sans);

--text-sm: 0.833vw;
 --text-base: 1vw;
 --text-lg: 1.25vw;
 --text-xl: 1.676vw;
 --text-2xl: 5.77vw
 --text-3xl: 6.18vw
 --text-4xl: 7.3vw
 --text-5xl: 18rem
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.post {
  max-width: 30rem;
  margin: 2rem;
  float: left;
  text-align: center;
}

.post a {
  font-size: 4rem;
  text-decoration: none;
  color: #1E1F23;
}

/* .fun-hover {
  background-image: linear-gradient(to right, #fefe59 50%, #fefe59 50%);
  border-radius: 20%;
  padding: 1rem;
  background-position: 0;
  background-size: 100%;
} */


.container {
  font-family: 'Bangers';
  font-size: 10px;
  padding: 2rem;
  background-color: #f0f0f0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

@layer base {
  h1, h2 {
    @apply text-primary font-yorkgame font-bold;
  }
}

@layer components {
 .link {
  @apply text-primary bg-background p-2 text-sm border-2 border-primary hover:bg-primary/10 transition-colors duration-300;
 }

 .mask-bottom {
   mask-image: radial-gradient(circle 100px at bottom, transparent 50%, #9333ea 51%);
   -webkit-mask-image: radial-gradient(circle 100px at bottom, transparent 50%, #9333ea 51%);
 }
}
